/* navbar.css */

/* Navigation Bar */
.navbar {
    background-color: burlywood;
    color: #fff;
    padding: 10px;
    text-align: center; /* Center the text */
  }
  
  .navbar-options {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    display: inline-block; /* Make the list items inline */
  }
  
  .navbar-options li {
    display: inline;
    margin-right: 20px;
  }
  
  .navbar-options li:last-child {
    margin-right: 0;
  }
  
  .navbar-options li a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-options li a:hover {
    color: green;
  }
  